n8n/daily_scrape_extract.json
{
  "name": "CampusCompass — Daily scrape + extract",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "cc-01",
      "name": "Every day 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1180, 0]
    },
    {
      "parameters": {
        "jsCode": "// Search pages to scan daily. Add/remove targets freely.\nconst targets = [\n  { url: 'https://internshala.com/internships/product-management-internship/', role_hint: 'pm' },\n  { url: 'https://internshala.com/internships/marketing-internship/', role_hint: 'growth' },\n  { url: 'https://internshala.com/internships/data-analytics-internship/', role_hint: 'analyst' },\n  { url: 'https://internshala.com/internships/software-development-internship/', role_hint: 'swe' },\n  { url: 'https://internshala.com/internships/web-development-internship/', role_hint: 'swe' },\n];\nreturn targets.map(t => ({ json: { ...t, source: 'internshala' } }));"
      },
      "id": "cc-02",
      "name": "Search URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "cc-03",
      "name": "Fetch search page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-740, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pull posting-detail links out of each search page.\n// Internshala detail links look like /internship/detail/<slug>.\n// If Internshala changes markup, only this regex needs updating.\nconst out = [];\nconst seen = new Set();\nfor (const item of $input.all()) {\n  const html = item.json.data || '';\n  const hint = $('Search URLs').all()[$input.all().indexOf(item)]?.json?.role_hint || 'other';\n  const re = /href=\"(\\/internship\\/detail\\/[^\"]+)\"/g;\n  let m, count = 0;\n  while ((m = re.exec(html)) !== null && count < 25) {\n    const url = 'https://internshala.com' + m[1];\n    if (seen.has(url)) continue;\n    seen.add(url);\n    out.push({ json: { source_url: url, role_hint: hint, source: 'internshala' } });\n    count++;\n  }\n}\nreturn out;"
      },
      "id": "cc-04",
      "name": "Parse posting links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-520, 0]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "postings",
        "returnAll": false,
        "limit": 1000
      },
      "id": "cc-05",
      "name": "Fetch known URLs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-300, 0],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "Supabase CampusCompass"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Drop URLs we already have in the DB (no duplicate Claude spend).\nconst known = new Set(\n  $('Fetch known URLs').all().map(i => i.json.source_url).filter(Boolean)\n);\nconst seen = new Set();\nreturn $('Parse posting links').all().filter(i => {\n  const u = i.json.source_url;\n  if (!u || known.has(u) || seen.has(u)) return false;\n  seen.add(u);\n  return true;\n});"
      },
      "id": "cc-06",
      "name": "Filter new postings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-80, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.source_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "cc-07",
      "name": "Fetch detail page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [140, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Strip HTML to plain text and build the Anthropic API request body.\nconst SYSTEM = 'You extract structured data from internship job postings in India. Output ONLY a valid JSON object, no markdown fences, no commentary. If a field is not stated use null (arrays: [], booleans: false). Never guess stipend numbers. Schema: {\"title\":string,\"company\":string,\"role_category\":\"pm\"|\"growth\"|\"analyst\"|\"swe\"|\"other\",\"location\":string|null,\"city\":string|null,\"is_remote\":boolean,\"stipend_min_inr\":integer|null,\"stipend_max_inr\":integer|null,\"duration_months\":number|null,\"yoe_required\":number,\"ppo_offered\":boolean,\"posted_at\":\"YYYY-MM-DD\"|null,\"skills\":[string],\"perks\":[string]}. Rules: stipend is monthly INR (\"8-12k\" -> min 8000 max 12000; \"unpaid\" -> 0; convert lakhs/year to monthly). city: one normalized Indian city (Bangalore, Mumbai, Delhi NCR, Hyderabad, Pune, Chennai, Kolkata, or the proper city name), null if remote-only. yoe_required: years of prior experience asked, 0 if none mentioned. posted_at: resolve relative dates against the given today date. skills: lowercase canonical tags (excel, sql, power bi, google analytics, figma, a/b testing, seo, communication...), exclude generic filler like \"hardworking\". role_category: pm=product roles, growth=marketing/growth/community, analyst=data/business/product analyst, swe=software/web/app/backend/frontend/qa/devops/ml engineering, else other.';\nconst srcs = $('Filter new postings').all();\nconst out = [];\n$input.all().forEach((item, i) => {\n  const html = item.json.data || '';\n  if (!html) return;\n  const meta = srcs[i] ? srcs[i].json : {};\n  const text = html\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 6000);\n  const today = new Date().toISOString().slice(0, 10);\n  out.push({ json: {\n    ...meta,\n    raw_text: text,\n    anthropic_body: {\n      model: 'claude-haiku-4-5',\n      max_tokens: 1024,\n      temperature: 0,\n      system: SYSTEM,\n      messages: [{ role: 'user', content: `Today's date: ${today}\\n\\nPosting URL: ${meta.source_url}\\nPosting text:\\n---\\n${text}\\n---` }]\n    }\n  }});\n});\nreturn out;"
      },
      "id": "cc-08",
      "name": "Build Claude request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.anthropic_body) }}",
        "options": {
          "timeout": 60000,
          "batching": {
            "batch": {
              "batchSize": 3,
              "batchInterval": 1000
            }
          }
        }
      },
      "id": "cc-09",
      "name": "Claude: extract fields",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [580, 0],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "Anthropic x-api-key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's JSON and shape a row matching the postings table exactly.\nconst reqs = $('Build Claude request').all();\nconst out = [];\n$input.all().forEach((item, i) => {\n  try {\n    const txt = (item.json.content && item.json.content[0] && item.json.content[0].text) || '';\n    const j = JSON.parse(txt.replace(/^```json\\s*/i, '').replace(/```\\s*$/, '').trim());\n    const meta = reqs[i] ? reqs[i].json : {};\n    out.push({ json: {\n      source: meta.source || 'other',\n      source_url: meta.source_url,\n      raw_text: meta.raw_text,\n      title: j.title,\n      company: j.company,\n      role_category: ['pm','growth','analyst','swe','other'].includes(j.role_category) ? j.role_category : (meta.role_hint || 'other'),\n      location: j.location,\n      city: j.city,\n      is_remote: !!j.is_remote,\n      stipend_min_inr: Number.isFinite(j.stipend_min_inr) ? Math.round(j.stipend_min_inr) : null,\n      stipend_max_inr: Number.isFinite(j.stipend_max_inr) ? Math.round(j.stipend_max_inr) : null,\n      duration_months: j.duration_months,\n      yoe_required: Number.isFinite(j.yoe_required) ? j.yoe_required : 0,\n      ppo_offered: typeof j.ppo_offered === 'boolean' ? j.ppo_offered : null,\n      posted_at: /^\\d{4}-\\d{2}-\\d{2}$/.test(j.posted_at || '') ? j.posted_at : null,\n      skills: Array.isArray(j.skills) ? j.skills.map(s => String(s).toLowerCase().trim()) : [],\n      perks: Array.isArray(j.perks) ? j.perks : [],\n      extraction_model: 'claude-haiku-4-5',\n      extraction_json: j\n    }});\n  } catch (e) { /* skip unparseable extractions; they stay unscraped and retry tomorrow */ }\n});\nreturn out;"
      },
      "id": "cc-10",
      "name": "Parse extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0]
    },
    {
      "parameters": {
        "tableId": "postings",
        "dataToSend": "autoMapInputData"
      },
      "id": "cc-11",
      "name": "Insert posting",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1020, 0],
      "onError": "continueRegularOutput",
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_AFTER_IMPORT",
          "name": "Supabase CampusCompass"
        }
      }
    }
  ],
  "connections": {
    "Every day 8am": {
      "main": [[{ "node": "Search URLs", "type": "main", "index": 0 }]]
    },
    "Search URLs": {
      "main": [[{ "node": "Fetch search page", "type": "main", "index": 0 }]]
    },
    "Fetch search page": {
      "main": [[{ "node": "Parse posting links", "type": "main", "index": 0 }]]
    },
    "Parse posting links": {
      "main": [[{ "node": "Fetch known URLs", "type": "main", "index": 0 }]]
    },
    "Fetch known URLs": {
      "main": [[{ "node": "Filter new postings", "type": "main", "index": 0 }]]
    },
    "Filter new postings": {
      "main": [[{ "node": "Fetch detail page", "type": "main", "index": 0 }]]
    },
    "Fetch detail page": {
      "main": [[{ "node": "Build Claude request", "type": "main", "index": 0 }]]
    },
    "Build Claude request": {
      "main": [[{ "node": "Claude: extract fields", "type": "main", "index": 0 }]]
    },
    "Claude: extract fields": {
      "main": [[{ "node": "Parse extraction", "type": "main", "index": 0 }]]
    },
    "Parse extraction": {
      "main": [[{ "node": "Insert posting", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
